---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"ad77aab8-d903-4f77-b074-a16c2658ca79","personalisation":{"name":"","edit_password_url":"http://localhost/users/password/edit?reset_password_token=Xye-5xt6-zB6cNhB1zJL"},"email_address":"josette.hudson@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODA2MTh9.PpwWOP7EbcEU57chI8oA7g0jQttBnZT_uYqHl0hCI2U
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 0154b806-c86f-47f3-7c3f-9d310d65f0f3
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Reset the password for your Early Years Child
        Development Training account \r\n\r\nWe''ve received a request to reset the
        password for your Early Years Child Development Training account.\r\n\r\nTo
        create a new password, please follow this link: http://localhost/users/password/edit?reset_password_token=Xye-5xt6-zB6cNhB1zJL\r\n\r\nIf
        you did not ask to reset your password, please delete this email. Your account
        and personal information are safe.\r\n\r\nContact child-development.training@education.gov.uk
        for further help or to give us feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"Reset
        the password for your Early Years Child Development Training account"},"id":"7a7b16f1-2554-4154-b6d1-b81e97ee02f2","reference":null,"scheduled_for":null,"template":{"id":"ad77aab8-d903-4f77-b074-a16c2658ca79","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/ad77aab8-d903-4f77-b074-a16c2658ca79","version":11},"uri":"https://api.notifications.service.gov.uk/v2/notifications/7a7b16f1-2554-4154-b6d1-b81e97ee02f2"}

        '
  recorded_at: Mon, 23 Jan 2023 13:30:18 GMT
recorded_with: VCR 6.1.0
