---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"e18e8419-cfcc-4fcb-abdb-84f932f3cf55","personalisation":{"name":"","unlock_url":"http://localhost/users/unlock?unlock_token=fsFXcJhqJ3Lj3qApQgoT"},"email_address":"darby@example.net"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODA2Nzd9.tHkN9NZn0Be2FW5AHTFKq3SQjfCXrHJF1e8JAZMop1o
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 9b271929-2f30-47cf-4164-10622f7885c8
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Unlock your Early Years Child Development Training
        account\r\n\r\nWe''ve locked your Early Years Child Development Training account  because
        you entered the wrong password too many times. \r\n\r\nTo unlock your account
        now, sign in using this link: http://localhost/users/unlock?unlock_token=fsFXcJhqJ3Lj3qApQgoT\r\n\r\nOr,
        we will unlock your account 2 hours from now. \r\n\r\nIf you did not try to
        sign in to your account, please delete this email.\r\n\r\nContact child-development.training@education.gov.uk
        for further help or to give us feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"Unlock
        your Early Years Child Development Training account"},"id":"92f31e00-817c-42ad-af5e-33e89bcb5d8a","reference":null,"scheduled_for":null,"template":{"id":"e18e8419-cfcc-4fcb-abdb-84f932f3cf55","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/e18e8419-cfcc-4fcb-abdb-84f932f3cf55","version":7},"uri":"https://api.notifications.service.gov.uk/v2/notifications/92f31e00-817c-42ad-af5e-33e89bcb5d8a"}

        '
  recorded_at: Mon, 23 Jan 2023 13:31:17 GMT
[...]
