- content_for :page_title do
  - if @training_module
    = html_title t(:title, scope: :my_learning_log), @training_module.title
  - else
    = html_title t(:title, scope: :my_learning_log)

- if @training_module
  .govuk-grid-row
    .govuk-grid-column-one-quarter.noprint
      = render 'notes/sidebar'

    .govuk-grid-column-three-quarters.learning-log-content
      span.govuk-caption-l class='govuk-!-margin-bottom-1'
        = t('notes.heading')
      h1.govuk-heading-l class='govuk-!-font-size-36' #{@training_module.title}

      - if @notes.any?(&:filled?)
        = m('notes.intro')
        = render partial: 'notes/note', collection: @notes
      - else
        p.govuk-body You have not made any notes for this module.

      span.noprint
        button.govuk-link.print-link-button onclick='window.print()' data-module='print-link'
          | Print this page
- else
  h1.govuk-heading-l
    = t('notes.heading')
  p.govuk-body There are no modules available at the moment.