---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"ad77aab8-d903-4f77-b074-a16c2658ca79","personalisation":{"name":"","edit_password_url":"http://localhost/users/password/edit?reset_password_token=s9XsHSiML58DxZ4akNM-"},"email_address":"eldridge@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODA2MTd9.ZJ0nOqhnfH-OA4YpQ6Dt0yp4O7YsG9kFYQOf42EPC4U
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - aaddbf93-3a69-42da-615c-591948016671
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Reset the password for your Early Years Child
        Development Training account \r\n\r\nWe''ve received a request to reset the
        password for your Early Years Child Development Training account.\r\n\r\nTo
        create a new password, please follow this link: http://localhost/users/password/edit?reset_password_token=s9XsHSiML58DxZ4akNM-\r\n\r\nIf
        you did not ask to reset your password, please delete this email. Your account
        and personal information are safe.\r\n\r\nContact child-development.training@education.gov.uk
        for further help or to give us feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"Reset
        the password for your Early Years Child Development Training account"},"id":"2d64176d-5090-4805-a1b1-44ce68909b81","reference":null,"scheduled_for":null,"template":{"id":"ad77aab8-d903-4f77-b074-a16c2658ca79","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/ad77aab8-d903-4f77-b074-a16c2658ca79","version":11},"uri":"https://api.notifications.service.gov.uk/v2/notifications/2d64176d-5090-4805-a1b1-44ce68909b81"}

        '
  recorded_at: Mon, 23 Jan 2023 13:30:17 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"f77e1eba-3fa8-45ae-9cec-a4cc54633395","personalisation":{"email_subject":"Password
        changed","name":""},"email_address":"eldridge@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODA2MTd9.ZJ0nOqhnfH-OA4YpQ6Dt0yp4O7YsG9kFYQOf42EPC4U
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - dd247c42-85bd-4dda-4846[...]
