.bundle
.git
.github
.yardoc
.yarn
!.yarn/releases/yarn-3.2.1.cjs
adr
app/assets/builds
config/*.key
config/credentials/*.key
coverage
doc
log
node_modules
public/assets
public/sitemap.xml
terraform
tmp
vendor
