---
services:
  app:
    container_name: recovery_dev
    build:
      target: dev
    image: recovery:dev
    command: foreman start -f Procfile.dev
    healthcheck:
      test: curl --fail http://localhost:3000/health || exit 1
    restart: on-failure
    environment:
      # rails credentials
      - EDITOR=vi
      # psql client
      - PGUSER=postgres
      - PGPASSWORD=password
      - PGHOST=db
      - PGDATABASE=early_years_foundation_recovery_development
      # app config
      - DATABASE_URL=postgres://postgres:password@db:5432/early_years_foundation_recovery_development
      - RAILS_ENV=development
      - DOMAIN=app:3000
      - RAILS_SERVE_STATIC_FILES=true
      # overrides
      - TIMEOUT_MINUTES
      - SENTRY_TOKEN
      - CONTENTFUL_CACHE
    volumes:
      - .:/srv
    tty: true
    stdin_open: true

  worker:
    container_name: recovery_worker
    image: recovery:dev
    command: bundle exec que
    environment:
      - RAILS_ENV=development
      - DATABASE_URL=postgres://postgres:password@db:5432/early_years_foundation_recovery_development
      - DASHBOARD_UPDATE=false
      # overrides
      - SENTRY_TOKEN
      - CONTENTFUL_CACHE
      - DASHBOARD_UPDATE_INTERVAL
      - GOOGLE_CLOUD_BUCKET
    depends_on:
      - db
    volumes:
      - .:/srv
    networks:
      - recovery
    tty: true
    stdin_open: true

  db:
    volumes:
      - db_dev:/var/lib/postgresql/data

  doc:
    container_name: recovery_doc
    image: recovery:dev
    command: yard server
    healthcheck:
      test: curl --fail http://localhost:8808 || exit 1
    volumes:
      - .:/srv
    ports:
      - 8808:8808
    networks:
      - recovery

  pa11y:
    container_name: recovery_pa11y
    build:
      context: .
      target: pa11y
    image: recovery:pa11y
    environment:
      - DOMAIN=app:3000
      - BOT_TOKEN
    depends_on:
      app:
        condition: service_healthy
    networks:
      - recovery
    volumes:
      - ./tmp/pa11y:/tmp/pa11y
    tty: true
    stdin_open: true

volumes:
  db_dev:
