---
services:
  app:
    container_name: recovery_dev
    build:
      target: dev
    image: recovery:dev
    command: foreman start -f Procfile.dev
    healthcheck:
      test: curl --fail http://localhost:3000/health || exit 1
    restart: on-failure
    environment:
      # General dev env
      - ENVIRONMENT=
      - PGUSER=postgres
      - PGPASSWORD=password
      - PGHOST=db
      - PGDATABASE=early_years_foundation_recovery_development
      - DATABASE_URL=postgres://postgres:password@db:5432/early_years_foundation_recovery_development
      - RAILS_ENV=development
      - DOMAIN=localhost:3000
      - RAILS_SERVE_STATIC_FILES=true

      # OpenTelemetry config pointing to collector in docker-compose
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_SERVICE_NAME=early-years-foundation-recovery
      - APPLICATION_INSIGHTS_CONNECTION_STRING=${APPLICATION_INSIGHTS_CONNECTION_STRING}

    volumes:
      - .:/srv
    tty: true
    stdin_open: true
    networks:
      - recovery

  worker:
    container_name: recovery_worker
    image: recovery:dev
    command: que
    environment:
      - RAILS_ENV=development
      - DATABASE_URL=postgres://postgres:password@db:5432/early_years_foundation_recovery_development
      - DASHBOARD_UPDATE=false
      - SENTRY_TOKEN
      - DASHBOARD_UPDATE_INTERVAL
      - GOOGLE_CLOUD_BUCKET

      # OpenTelemetry config pointing to collector
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_SERVICE_NAME=early-years-foundation-recovery
      - APPLICATION_INSIGHTS_CONNECTION_STRING=${APPLICATION_INSIGHTS_CONNECTION_STRING}

    depends_on:
      - db
    volumes:
      - .:/srv
    tty: true
    stdin_open: true
    networks:
      - recovery

  doc:
    container_name: recovery_doc
    image: recovery:dev
    command: yard server
    healthcheck:
      test: curl --fail http://localhost:8808 || exit 1
    volumes:
      - .:/srv
    ports:
      - 8808:8808
    networks:
      - recovery

  pa11y:
    container_name: recovery_pa11y
    build:
      context: .
      target: pa11y
    image: recovery:pa11y
    environment:
      - DOMAIN=localhost:3000
      - BOT_TOKEN
    depends_on:
      app:
        condition: service_healthy
    networks:
      - recovery
    volumes:
      - ./tmp/pa11y:/tmp/pa11y
    tty: true
    stdin_open: true

networks:
  recovery:
