services:
  app:
    container_name: recovery_dev
    build:
      target: dev
    image: recovery:dev
    command: foreman start -f Procfile.dev
    environment:
      - RAILS_ENV=development
      - DATABASE_URL=postgres://postgres:password@db:5432/early_years_foundation_recovery_development
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      - OTEL_SERVICE_NAME=early-years-foundation-recovery
    volumes:
      - .:/srv
    depends_on:
      - db
      - otel-collector
    networks:
      - recovery
    tty: true
    stdin_open: true

 # docker-compose.yml (collector service)
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    command: ["--config", "/etc/otel-collector-config.yml"]
    ports:
      - "4317:4317"
    environment:
      - APPLICATION_INSIGHTS_CONNECTION_STRING=${APPLICATION_INSIGHTS_CONNECTION_STRING}
    networks:
      - recovery


  db:
    container_name: recovery_db
    image: postgres:15.4-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - recovery

volumes:
  db:

networks:
  recovery:
