---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"d6ab2e3b-923e-429e-abd2-cfe7be0e9193","personalisation":{"confirmation_url":"http://localhost/users/confirmation?confirmation_token=sKZ15MAYS2xV5AxsRRg4"},"email_address":"kerri.maggio@example.net"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODAxNjF9.BAgUMyO54-PleWhwwtgzh_J0eaSn3Y1EToUz0iIeGpU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 88a043db-b0a0-4897-72b0-3e7c1e798825
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Activate your Early Years Child Development Training
        account \r\n\r\nThank you for creating an Early Years Child Development Training
        account. \r\n\r\nPlease use the account activation link to confirm your email
        address: http://localhost/users/confirmation?confirmation_token=sKZ15MAYS2xV5AxsRRg4\r\n\r\nIf
        you did not ask to set up an account, please ignore this email.\r\n\r\nContact
        child-development.training@education.gov.uk for further help or to give us
        feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"Activate
        your Early Years Child Development Training account"},"id":"6e7b2c6e-eb58-41f2-9204-b7bc05695850","reference":null,"scheduled_for":null,"template":{"id":"d6ab2e3b-923e-429e-abd2-cfe7be0e9193","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/d6ab2e3b-923e-429e-abd2-cfe7be0e9193","version":6},"uri":"https://api.notifications.service.gov.uk/v2/notifications/6e7b2c6e-eb58-41f2-9204-b7bc05695850"}

        '
  recorded_at: Mon, 23 Jan 2023 13:22:41 GMT
recorded_with: VCR 6.1.0
