= f.govuk_fieldset legend: { text: "Name", tag: :h1, size: 'l' } do
  = f.govuk_text_field :first_name, width: 'one-half', label: { text: t(:first_name) }
  = f.govuk_text_field :last_name, width: 'one-half', label: { text: t(:last_name) }
