= f.govuk_fieldset legend: { text: "Setting", tag: :h1, size: 'l' } do
  = f.govuk_text_field :postcode, width: 'one-half', label: { text: t(:postcode) } 
  = f.govuk_text_field :ofsted_number, width: 'one-half', label: { text: t(:ofsted_number) }
