---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"d6ab2e3b-923e-429e-abd2-cfe7be0e9193","personalisation":{"confirmation_url":"http://localhost/users/confirmation?confirmation_token=G_g3bVPGcf9WbYKN8NCk"},"email_address":"felton.dubuque@example.net"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODA3MTZ9.JrafgA3mM2YRKMzAt_t9xEwsgRp_DFS8Vigcc5a7j3I
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - e70715f1-45b2-4884-5eca-beb928b21931
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Activate your Early Years Child Development Training
        account \r\n\r\nThank you for creating an Early Years Child Development Training
        account. \r\n\r\nPlease use the account activation link to confirm your email
        address: http://localhost/users/confirmation?confirmation_token=G_g3bVPGcf9WbYKN8NCk\r\n\r\nIf
        you did not ask to set up an account, please ignore this email.\r\n\r\nContact
        child-development.training@education.gov.uk for further help or to give us
        feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"Activate
        your Early Years Child Development Training account"},"id":"0d458299-fa45-41c6-87eb-0b8c57cf49bb","reference":null,"scheduled_for":null,"template":{"id":"d6ab2e3b-923e-429e-abd2-cfe7be0e9193","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/d6ab2e3b-923e-429e-abd2-cfe7be0e9193","version":6},"uri":"https://api.notifications.service.gov.uk/v2/notifications/0d458299-fa45-41c6-87eb-0b8c57cf49bb"}

        '
  recorded_at: Mon, 23 Jan 2023 13:31:57 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"e18e8419-cfcc-4fcb-abdb-84f932f3cf55","personalisation":{"name":"","unlock_url":"http://localhost/users/unlock?unlock_token=1XRzLox32W8UQ4K8PRRF"},"email_address":"felton.dubuque@example.net"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODA3MTd9.J21PeqjuvTDpudQlWWRyjgA-F1moHYwBL77vd26qvFQ
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-[...]
