---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"857dc6d0-7179-48bf-8079-916fedb43528","personalisation":{"name":"","email":"louella@example.com","reset_password_url":"http://localhost/users/password/new"},"email_address":"louella@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODEzMTh9.mmh6rjEqVshe0nfs11AIS0RkGHRAWlsZXzJXMohdlSo
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 54c820ac-52ee-446e-7c01-0a825eb81441
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#New registration attempt for an Early Years Child
        Development Training account\r\n\r\nWe noticed that someone attempted to create
        an Early Years Child Development Training account using this email address.
        \r\n\r\nThere is already an account for this email address. \r\n\r\nIf you
        cannot access your account, you can follow this link to reset your password:  http://localhost/users/password/new.
        \r\n\r\nIf you did not attempt to make a new account, you do not need to do
        anything. \r\n\r\nContact child-development.training@education.gov.uk for
        further help or to give us feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"New
        registration attempt for an Early Years Child Development Training account"},"id":"df8fd187-7453-49b3-a8bc-2c23a73a194d","reference":null,"scheduled_for":null,"template":{"id":"857dc6d0-7179-48bf-8079-916fedb43528","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/857dc6d0-7179-48bf-8079-916fedb43528","version":6},"uri":"https://api.notifications.service.gov.uk/v2/notifications/df8fd187-7453-49b3-a8bc-2c23a73a194d"}

        '
  recorded_at: Mon, 23 Jan 2023 13:41:58 GMT
recorded_with: VCR 6.1.0
