---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"c1228884-6621-4a1e-9606-b219bedb677f","personalisation":{"is_unconfirmed_email":"Yes","is_not_unconfirmed_email":"No","email":"user@example.com"},"email_address":"merlin.johnson@example.net"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODAxNTZ9.0ULznH07mdfzuifc9u4PbiQBg9rmO6D5gL7aSrWGhp0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 456679d1-4bb6-405d-6272-c95c95a2eb1e
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Email address change for your Early Years Child
        Development Training account\r\n\r\nThe email address for your Early Years
        Child Development Training account is being changed to user@example.com.\r\n\r\nIf
        you did not ask for your email address to be changed, please email child-development.training@education.gov.uk.\r\n\r\nContact
        child-development.training@education.gov.uk for further help or to give us
        feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"Email
        address change for your Early Years Child Development Training account"},"id":"7b146422-4909-4453-abe7-6a71b21ff4a9","reference":null,"scheduled_for":null,"template":{"id":"c1228884-6621-4a1e-9606-b219bedb677f","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/c1228884-6621-4a1e-9606-b219bedb677f","version":15},"uri":"https://api.notifications.service.gov.uk/v2/notifications/7b146422-4909-4453-abe7-6a71b21ff4a9"}

        '
  recorded_at: Mon, 23 Jan 2023 13:22:36 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"a2412831-e253-4df4-a8f1-19332eed4cef","personalisation":{"confirmation_url":"http://localhost/users/confirmation?confirmation_token=USHRqHUBN1LxqijZk7UP"},"email_address":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODAxNTZ9.0ULznH07mdfzuifc9u4PbiQBg9rmO6D5gL7aSrWGhp0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Reques[...]
