---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"c1228884-6621-4a1e-9606-b219bedb677f","personalisation":{"is_unconfirmed_email":"Yes","is_not_unconfirmed_email":"No","email":"user@example.com"},"email_address":"kami@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0NzA5OTF9.KhHfpV_K3COuLuafbz9U1riuPHEarHZ4uv1CIq3OtVg
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 1e72c770-331a-4c3b-7c77-066cf22187c2
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Email address change for your Early Years Child
        Development Training account\r\n\r\nThe email address for your Early Years
        Child Development Training account is being changed to user@example.com.\r\n\r\nIf
        you did not ask for your email address to be changed, please email child-development.training@education.gov.uk.\r\n\r\nContact
        child-development.training@education.gov.uk for further help or to give us
        feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"Email
        address change for your Early Years Child Development Training account"},"id":"58fbb600-d134-44d0-9220-48605425f07a","reference":null,"scheduled_for":null,"template":{"id":"c1228884-6621-4a1e-9606-b219bedb677f","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/c1228884-6621-4a1e-9606-b219bedb677f","version":15},"uri":"https://api.notifications.service.gov.uk/v2/notifications/58fbb600-d134-44d0-9220-48605425f07a"}

        '
  recorded_at: Mon, 23 Jan 2023 10:49:52 GMT
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"a2412831-e253-4df4-a8f1-19332eed4cef","personalisation":{"confirmation_url":"http://localhost/users/confirmation?confirmation_token=dasQNqBvsZV_ryrgsXHB"},"email_address":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0NzA5OTJ9.03NE5kQX3on9grW1zzBS3rhp7NCACgcmBvtkq5vSd7U
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Reques[...]
