---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"template_id":"f77e1eba-3fa8-45ae-9cec-a4cc54633395","personalisation":{"email_subject":"Password
        changed","name":"Johnson Cole"},"email_address":"darius_von@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxNWY1MzhkOS1hYTYzLTQyYzEtODc1Zi1kNzhjNDBiMGIyYjMiLCJpYXQiOjE2NzQ0ODAxNTZ9.0ULznH07mdfzuifc9u4PbiQBg9rmO6D5gL7aSrWGhp0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 21074e2b-4e45-4dd1-6ed9-e44d7c6f6b67
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#The password for your Early Years Child Development
        Training account has been changed\r\n\r\nThe password for your Early Years
        Child Development Training account has been changed.\r\n\r\nIf you did not
        change your password, please email child-development.training@education.gov.uk.\r\n\r\nContact
        child-development.training@education.gov.uk for further help or to give us
        feedback.","from_email":"early.years.child.development.training@notifications.service.gov.uk","subject":"The
        password for your Early Years Child Development Training account has been
        changed"},"id":"63b1803a-8205-44f0-adcb-58bf058bc944","reference":null,"scheduled_for":null,"template":{"id":"f77e1eba-3fa8-45ae-9cec-a4cc54633395","uri":"https://api.notifications.service.gov.uk/services/15f538d9-aa63-42c1-875f-d78c40b0b2b3/templates/f77e1eba-3fa8-45ae-9cec-a4cc54633395","version":7},"uri":"https://api.notifications.service.gov.uk/v2/notifications/63b1803a-8205-44f0-adcb-58bf058bc944"}

        '
  recorded_at: Mon, 23 Jan 2023 13:22:36 GMT
recorded_with: VCR 6.1.0
