- if ENV['RAILS_ENV'].eql?('development')
  pre.debug_dump
    |
      id: #{@questionnaire.id}
      heading: #{@questionnaire.heading}
      content: #{@questionnaire.content}
      name: #{@questionnaire.name}
      training_module: #{@questionnaire.training_module}
      required_percentage_correct: #{@questionnaire.required_percentage_correct}
