ruby:
  items = [
    {
      key: :course,
      text: t('about.heading'),
      href: course_overview_path
    }
  ]

  items.concat(
    mods.map do |mod|
      {
        key: mod.name,
        text: mod.heading,
        href: about_path(mod.name)
      }
    end
  )

  items << {
    key: :experts,
    text: t('experts.heading'),
    href: experts_path
  }

= render 'shared/sidebar',
  items: items,
  active: active,
  menu_id: 'about-training-menu',
  menu_label: t('about.menu'),
  navigation_label: t('about.heading')