$govuk-new-link-styles: true;

@import "govuk-frontend/govuk/all";
@import "./govspeak";
@import "./card";
@import "./prompt";
@import "./video";
@import "./question";
@import "./interruption";
@import "./print-link";
@import "./quote";
@import "./icons";
@import "./autocomplete";
@import "./header";

* {
  font-family: 
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif !important;
}

/*
Internal
-----------------------------------------------
*/
pre.code-tip {
  padding: 0 5px;
  color: govuk-colour("red");
  background-color: govuk-colour("light-grey");
}

.debug_dump {
  background: beige;
  &, * {
    font-family: monospace !important;
  }
}
// --------------------------------------------

.app-sidebar {
  padding: govuk-spacing(5) govuk-spacing(3);
  background-color: govuk-colour("light-grey");

  *:last-child {
    margin: 0;
  }
}

.govuk-label {
  font-weight: normal;
}

.light-grey-box {
  padding: govuk-spacing(5);
  margin-bottom: govuk-spacing(5);
  background: govuk-colour("light-grey");

  .govuk-button {
    margin: 0;
  }
}

.float-right {
  float: right;
  display: block;
}

.full-width-img {
  width: 100%;
}

abbr {
  cursor: help;
  text-decoration: none;
}

.accordion-section-left-column {
  display: inline-block;
  max-width: calc(100% - 142px);
}

// nested bullets (level 2) to be unfilled circles
ul > li > ul > li {
  list-style-type: circle;
}

.remove-borders {
  border: none;
}

.first-column-bold td:first-child {
  font-weight: bold;
}

.light-grey-background {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(6);
}

.white-background {
  background-color: govuk-colour("white");; 
  border-left: none !important;
  padding: govuk-spacing(4);
}

.log-entry {
  border: 0.5px solid;
  border-color: #b1b4b6;
  padding: 20px;
  width: 600px;
  margin-bottom: 40px;
}

.form-container {
  padding: 30px;
  background: #f3f2f1;
}

.gem-c-govspeak {
  a {
    @include govuk-link-common;
    @include govuk-link-style-default;
  }
}

.govuk-footer__copyright-logo {
  display: none;
}
