@use "govuk-frontend/govuk/all";

/*
https://github.com/alphagov/govuk_publishing_components/blob/main/docs/install-and-use.md
@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/component_support";
@import "govuk_publishing_components/components/govspeak";
*/

.debug_dump {
  background: beige;
}

.app-sidebar {
  padding: govuk-spacing(5) govuk-spacing(3);
  background-color: govuk-colour("light-grey");

  *:last-child {
    margin: 0;
  }
}

.govuk-label {
  font-weight: bold;
}

.govuk-notification-banner__content {
  p {
    margin: 0;
  }
}
