$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

.svg-inline--fa {
  background-color: $prompt-hue;
  color: govuk-colour("white");
  padding: govuk-spacing(4) !important;
}

#progress .svg-inline--fa {
  background-color: transparent;
  padding: 0 !important;

  &.grey {
    color: govuk-colour("dark-grey");
  }

  &.green {
    color: govuk-colour("green");
  }
}
