.interrupt-panel {
  width: 100%;
  padding: 30px;
  background: #005ea5;
  color: #fff !important;

}

.interrupt-panel h1,
.interrupt-panel p,
.interrupt-panel h2,
.interrupt-panel ul {
  color: #fff !important;

}

.interrupt-panel a,
.interrupt-panel a:active,
.interrupt-panel a:link,
.interrupt-panel a:visited {
  color: #fff
}

a:visited {
  color: #005ea5
}
