// /modules/foo/content-pages/what-to-expect

.interrupt-panel {
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  background: darken(govuk-colour('blue'), 3%);

  * {
    color: govuk-colour('white') !important;
  }
}
