// /modules/foo/content-pages/what-to-expect

#interrupt-panel {
  padding: govuk-spacing(7);
  background: color.adjust(govuk-colour('blue'), $lightness: -3%);

  * {
    color: govuk-colour('white') !important;
  }
}
