$icon-diameter: 36px;
$line-shift: calc(($icon-diameter + 1px) / 2);
$progress-bar-container-width: 81px;

.module-overview-section-break {
  margin-left: $progress-bar-container-width;
}

.greyed-out {
  opacity: 0.5;
}

.module-section--pages {
  margin-left: 10px;
  color: $govuk-secondary-text-colour;
  font-weight: normal;
}

.module-overview--section {
  display: grid;
  grid-template-columns: $progress-bar-container-width auto;

  @include govuk-media-query($until: tablet) {
    grid-template-columns: 50px auto;
  }

  .icon {
    border-radius: 50%;
    width: $icon-diameter;
    height: $icon-diameter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 2;
    position: absolute;

    &.completed {
      background-color: govuk-colour('blue');
      color: govuk-colour('white');
    }

    &.started {
      background-color: govuk-colour('white');
      color: govuk-color('blue');
      outline: 4px solid govuk-colour('blue');
      outline-offset: -4px;
    }

    &.not_started {
      background-color: govuk-colour('white');
      color: govuk-color('black');
      outline: 1px solid govuk-colour('mid-grey');
      outline-offset: -1px;
    }
  }
  
  .line {
    height: 100%;
    border-left: 1px solid govuk-colour('mid-grey');
    position: relative;
    z-index: 1;
    right: -18px;
  }

  .module-section--container {
    display: grid;
    grid-template-columns: auto 139px;
    gap: 7px;
    margin-left: 10px;
    margin-right: 10px;
    
    .progress-indicator {
      margin-left: auto;
    }
  }
}

section.completed {
  background-color: govuk-colour('light-grey');
  border-radius: 6px;
  padding: govuk-spacing(7);

  @include govuk-media-query($until: tablet) {
    padding: govuk-spacing(4);
  }
}

.govuk-table {
  margin-bottom: 0;
}

.module-section--item {
  font-size: 1.1875rem;

  ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 0;

    @include govuk-media-query($until: tablet) {
      padding-left: 10px;
    }
  }

  li {
    list-style: square;
  }

  ul > li:last-child {
    margin-bottom: 0;
  }
}

#module-call-to-action {
  @include govuk-responsive-margin(8, 'top');
}
