@media print {
  @page {
    size: A4 landscape;
    margin-top: 0;
  }

  .noprint {
    display: none !important;
  }
}

.gem-c-print-link {
  display: none
}

.gem-c-print-link.gem-c-print-link--show-without-js {
  display: block
}

.js-enabled .gem-c-print-link {
  display: block
}

.gem-c-print-link__link,
.gem-c-print-link__button {
  background: url(icon-print@1x.png) no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: 10px 10px 10px 36px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .gem-c-print-link__link,
  .gem-c-print-link__button {
    background-image: url(icon-print@1x.png)
  }
}

.gem-c-print-link__link:hover,
.gem-c-print-link__button:hover {
  background-color: govuk-colour("light-grey")
}

.gem-c-print-link__link {
  box-shadow: inset 0 0 0 1px govuk-colour("mid-grey");
  text-decoration: none
}

.gem-c-print-link__link:focus {
  border: 0;
  box-shadow: 0 3px govuk-colour("black")
}

.gem-c-print-link__button {
  border: 1px solid govuk-colour("mid-grey");
  color: govuk-colour("blue");
  cursor: pointer;
  margin: 0;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  margin-top: 0;
  margin-bottom: 15px
}

.gem-c-print-link__button:focus {
  outline: 3px solid transparent;
  color: govuk-colour("black");
  background-color: govuk-colour("yellow");
  box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
  text-decoration: none;
  border-color: transparent
}

.gem-c-govspeak .mc-toggle-button,
.govuk-body-s {
  color: govuk-colour("black");
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.1428571429;
  margin-top: 0;
  margin-bottom: 15px
}


@media print {
  .gem-c-print-link__button,
  .gem-c-govspeak .mc-toggle-button,
  .govuk-body-s {
    color: govuk-colour("black") !important;
  }
}

@media print {
  .gem-c-print-link__button,
  .gem-c-govspeak .mc-toggle-button,
  .govuk-body-s {
    font-family: sans-serif !important;
  }
}

@media (min-width: 40.0625em) {
  .gem-c-print-link__button,
  .gem-c-govspeak .mc-toggle-button,
  .govuk-body-s {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25
  }
}

@media print {
  .gem-c-print-link__button,
  .gem-c-govspeak .mc-toggle-button,
  .govuk-body-s {
    font-size: 14pt !important;
    line-height: 1.2 !important;
  }
}

@media (min-width: 40.0625em) {
  .gem-c-print-link__button,
  .gem-c-govspeak .mc-toggle-button,
  .govuk-body-s {
    margin-bottom: 20px
  }
}