.home-prompt {
  background: $light-blue;
  border-top: $color_dfe-secondary-blue solid 10px;
  margin: govuk-spacing(5) govuk-spacing(0);
  padding-top: govuk-spacing(-9);
  padding-bottom: govuk-spacing(5);
  padding-left: govuk-spacing(2);

  @include govuk-media-query($until: tablet) {
    margin: govuk-spacing(2);
    margin-top: govuk-spacing(6);
  }

  span.fa-stack {
    background-color: $color_dfe-secondary-blue;
    color: $color_dfe-secondary-blue;
    padding: govuk-spacing(1) govuk-spacing(0);
    top: govuk-spacing(-6);

    .fa-circle {
      width: 40px;
    }

    @include govuk-media-query($from: tablet) {
      left: govuk-spacing(-6);
    }
  }

  p, ul, h1, h2, h3 {
    @include govuk-media-query($from: tablet) {
      margin-left: calc(2 * govuk-spacing(8));
    }
  }
}


.prompt {
  background-color: govuk-colour('light-grey');
  border-top: govuk-colour('turquoise') solid 10px;
  margin: govuk-spacing(5) govuk-spacing(0);
  padding-left: govuk-spacing(4);
  padding-right: govuk-spacing(4);

  .svg-inline--fa {
    background-color: govuk-colour('turquoise');
    color: govuk-colour('white');
    padding: govuk-spacing(4) !important;
    position: relative;
    display: inline-block;
    width: 32px;
    top: govuk-spacing(-3);
    left: govuk-spacing(-6);
  }

  .govuk-grid-column-one-quarter {
    margin-right: -120px;
  }

  .govuk-grid-column-three-quarters {
    padding: govuk-spacing(3);
    
    @media(min-width: 40em) and (max-width: 61.5em) {
      padding-left: govuk-spacing(7);
    }
  }

  .small-screen-padding-right {
    @media(max-width: 40.0625em) {
      padding-right: govuk-spacing(4);
    }
  }

  &.prompt-bg {
    background-color: lighten(govuk-colour('turquoise'), 50%);
  }

}

.legend {
  .svg-inline--fa {
    width: 1em;
    display: inline-block;
    float: left;
    margin-right: govuk-spacing(4);
  }

  li {
    min-height: 8em;
  }

  p {
    display: inline-block;
    margin-top: 0px;
    width: 80%;
  }
}
