.prompt {
  background-color: govuk-colour('light-grey');
  border-top: govuk-colour('turquoise') solid govuk-spacing(2);
  margin: govuk-spacing(5) govuk-spacing(0);
  padding: govuk-spacing(4);
  position: relative;

  .govuk-grid-row {
    display: block;
  }

  .govuk-grid-column-one-quarter {
    position: absolute;
    top: govuk-spacing(-1);
    left: govuk-spacing(-2);
    margin: 0;
    padding: 0;
  }

  .govuk-grid-column-three-quarters {
    margin-left: 80px;
    padding: govuk-spacing(3);
    width: auto;
  }

  .svg-inline--fa {
    background-color: govuk-colour('turquoise');
    color: govuk-colour('white');
    padding: govuk-spacing(4) !important;
    display: inline-block;
    width: 32px;
    position: relative;
    top: govuk-spacing(-2);
    left: 0;
  }

  .govuk-grid-column-one-quarter {
    margin-right: -120px;

    @media (max-width: 320px) {
      margin-right: 0;
    }
  }

  .govuk-grid-column-three-quarters {
    padding: govuk-spacing(3);

    // OPTIMIZE: change to use media query
    @media(min-width: 40em) and (max-width: 61.5em) {
      padding-left: govuk-spacing(7);
    }

    @media (max-width: 320px) {
      padding: govuk-spacing(2);
    }
  }

  // change to use media query
  .small-screen-padding-right {
    @media(max-width: 40.0625em) {
      padding-right: govuk-spacing(4);
    }
  }

  &.prompt-bg {
    background-color: color.adjust(govuk-colour('turquoise'), $lightness: 50%);
  }

  &.prompt-home {
    background: $light-blue;
    border-top: govuk-organisation-colour('department-for-education') solid govuk-spacing(2);

    .govuk-grid-column-one-quarter {
      @include govuk-media-query($from: desktop) {
        margin-right: -220px;
      }

      @media (max-width: 320px) {
        margin-right: 0;
      }
    }

    .svg-inline--fa {
      background-color: govuk-organisation-colour('department-for-education') !important;
    }
  }
}

.legend {
  .svg-inline--fa {
    width: 1em;
    display: inline-block;
    float: left;
    margin-right: govuk-spacing(4);
  }

  li {
    min-height: 8em;
  }

  p {
    display: inline-block;
    margin-top: 0;
    width: 80%;
  }
}
