.govuk-notification-banner {
  &__content {
    & > * {
      max-width: none;
    }
  }

  &--error, &--alert {
    border-color: $govuk-error-colour;
    background-color: $govuk-error-colour;
  }
  
  p {
    margin-top: 0;
  }
}
