.govuk-notification-banner {
  &__content {
    & > * {
      max-width: none;
    }
  }

  &--error, &--alert {
    border-color: $govuk-error-colour;
    background-color: $govuk-error-colour;
  }

  &--error {
    p {
      margin: 0;
    }
  }
}
