.blockquote-container {
  padding-top: 10px;
  padding-bottom: 10px;
  
  blockquote.quote {
    position: relative;
    border: 3px solid #000;
    padding: 20px;
    margin: 16px 20px;

    @media (min-width: 40.0625em) {
      margin: 16px 40px;
    }
    
    p {
      padding: 0 0 0 10px;
      margin-top: 10px;
      position: relative;
      z-index: 9999;
      border: none;

      @media (min-width: 40.0625em) {
        padding-left: 40px;
      }

      &:before {
        content: none;
      }
    }
  
    &:before {
      position: absolute;
      content: open-quote;
      font-size: 8em;
      margin-top: -0.4em;
      background-color: #fff;
      line-height: 0.9;
      padding-left: 10px;
      padding-right: 10px;
      font-family: serif;
    }
  }
}

cite {
  padding-left: 10px;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  
  @media (min-width: 40.0625em) {
    font-size: 19px;
    padding-left: 40px;
  }
  
  &:before {
    content: "-";
  }
}
