.section-intro-body {
  padding: govuk-spacing(7);
  background-color: govuk-colour('light-grey');
  border-radius: 6px;
}

.section-intro-previous-button {
  background-color: $color_dfe-secondary-blue;

  &:hover, &:focus {
    background-color: $color_dfe-secondary-blue;
  }
}
