#section-intro-panel {
  padding: govuk-spacing(7);

  @include govuk-media-query($until: tablet) {
    padding: govuk-spacing(6);
  }

  background-color: govuk-colour('light-grey');
  border-radius: 6px;

  h1 {
    margin-bottom: govuk-spacing(4);
  }

  .govuk-button-group {
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(0);
  }

  .section-intro-previous-button {
    background-color: $color_dfe-secondary-blue;

    &:hover, &:focus {
      background-color: $color_dfe-secondary-blue;
    }
  }

  .blockquote-container {
    blockquote.quote {
      &:before {
        background-color: govuk-colour('light-grey');
      }
    }
  }

  .govuk-grid-row {
    @include govuk-media-query($until: tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

}
