.govuk-notification-banner class=current_user_response.banner_style role='alert' aria-labelledby='govuk-notification-banner-title' data-module='govuk-notification-banner'

  .govuk-notification-banner__header
    h2#govuk-notification-banner-title.govuk-notification-banner__title
      = current_user_response.banner_title
  .govuk-notification-banner__content
    - if !current_user_response.correct?
      p.notification-banner-bold Correct answer

      p The correct answer is:
      - if current_user_response.only_one_correct_formative_answers_count
        p= current_user_response.correct_formative_answers_label
      - else
        ul.govuk-list.govuk-list--bullet
          - current_user_response.correct_formative_answers.map do |response|
            li= response.label

      p.notification-banner-bold Explanation

    = m(current_user_response.summary)
