h1= t('feedback.heading')

= m('feedback.body')

h2= t('feedback.technical_support.heading')

p.text-secondary= t('feedback.technical_support.body')

hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible class='govuk-!-margin-top-4'

= govuk_button_link_to t('feedback.next_button'), feedback_path(mod.pages.first.name)