title= yield :page_title

= tag.meta content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'
= render 'layouts/analytics_header'
= render 'layouts/hotjar_tracking'

= tag.meta content: 'width=device-width,initial-scale=1', name: 'viewport'
= tag.meta name: 'robots', content: 'noindex,nofollow' unless Rails.application.live?
= tag.meta property: 'og:image', content: image_path('eycdt_opengraph.png')

= csrf_meta_tags

= favicon_link_tag image_path('dfe_favicon.ico')

= stylesheet_link_tag 'application', 'data-turbo-track': 'reload'

= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

= yield :head
